.div {
	text-align: center;
}
.img {
	width: 1080px;
}
html:hover .img {
	animation-name: img;
	animation-delay: 500ms;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	margin-top: 0px;
}
@keyframes img {
	to{
		width: 300px;
	}
}
.p {
	font-size: 20px;
	font-family: 微软雅黑;		
	text-shadow: 1px 1px 2px black;
	opacity: 1;
}
html:hover .p {
	font-family: 微软雅黑;
	font-size: 15px;
	animation-delay: 500ms;	
	animation-duration: 3s;
	text-shadow: 1px 1px 2px #b0b0b0;
	opacity: 1;
}
h1 {
	transform: rotateY(130deg);
	-webkit-transform: rotateY(130deg);	/* Safari 和 Chrome */
	-moz-transform: rotateY(130deg);	/* Firefox */
	text-shadow: 5px 5px 5px #FF0000;
}