.nav ul {
	width: 820px;
	border: 0px solid #000;
	margin: 0px auto 0px auto;
}
.nav ul li {float: left;}
.nav ul li a {
	width: 80px;
	height: 28px;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	display: block;
	margin: 5px 10px;
	border-right: 2px solid #CCC;
	background: #eee;
	color: #666;
	font-size: 12px;
}
.nav ul li a:hover {
	color: #f00;
	width: 78px;
	height: 26px;
	line-height: 28px;
	border: 1px solid red;
	background: #FFF;
}